@import "common";

.nav {
	display: flex;
	justify-content: center;
	margin: 0 0 25px 0;
	padding: 25px 0;
	border-bottom: 1px solid $blue;

	
	li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 10px;

		&:nth-of-type(1) {
			margin-left: 0;
		}

		&:nth-last-of-type(1) {
			margin-right: 0;
		}
		
		
		a {
			text-decoration: none;
			color: $blue;

			&.active {
				font-weight: bold;
			}

			&:hover,
			&:focus,
			&:active {
				color: darken($blue, 10%);
				transition: .2s ease;
			}
		}
	}
}

.home-container {
	text-align: center;
}

.languages {
	padding: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;

	li {
		margin: 10px;
		font-weight: bold;
		cursor: pointer;
	}
	
}